body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* === OS STYLING === */

#desktop-wrapper {
  display: flex;
  flex-direction: row;
  background-image: url("https://raw.githubusercontent.com/tavro/LD56/refs/heads/pages/Res/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* === MAIL STYLING === */

.back-btn-wrapper {
  margin: 8px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.back-btn-wrapper:hover, .back-btn-wrapper-alt {
  cursor: pointer;
}

.back-btn-wrapper img, .back-btn-wrapper-alt img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.back-btn-wrapper-alt {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  z-index: 2;
}

#money-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 2;
}

#mail-header {
  display: flex;
  flex-direction: row;
  align-content: center;
}

#opened-mail {
  display: none;
  flex-direction: column;
  background-color: white;
}

#mail-inbox {
  width: 100vw;
}

#mail-info-wrapper {
  margin: 32px;
}

#category-primary {
  border-bottom: 2px solid black;
}

#mm-inbox:hover, #mm-favorites:hover, #mm-important:hover {
  cursor: pointer;
}

#category-primary:hover, #category-campaigns:hover, #category-social:hover {
  cursor: pointer;
}

#mm-inbox {
  font-weight: bold;
}

#mail-wrapper {
  display: none;
  flex-direction: row;
  background-color: white;
  height: 100vh;
}

#mail-menu {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 20vw;
  height: 100vh;
}

.category1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 16px;
  margin: 8px;
}

.category1 img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#category-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.category2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  margin: 8px;
}

.category2 img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.mail-preview:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mail-preview {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 32px;
  align-items: center;
  justify-content: space-between;
}

.mail-preview img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.c2-text-wrapper {
  display: flex;
  flex-direction: column;
}

.c2-text-wrapper p {
  margin: 0;
  padding: 0;
}

.summary, .content {
  font-style: italic;
  color: gray;
}

/* TODO: Style this so it works when scaling, same goes for categories */
.mp-icons-wrapper {
  width: 10%;
}

.mp-text-wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.sender {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  width: 30%;
}

.timestamp {
  margin-right: 8px;
  width: 20%;
  text-align: end;
}

.read {
  background-color: #D3D3D3;
}

/* === TELESCOPE STYLING === */

#telescope-wrapper {
  display: none;
  flex-direction: column;
  height: 100vh; 
}

canvas {
  display: block;
  background-color: #f0f0f0;
}

#builder-wrapper {
  display: none;
  flex-direction: column;
  height: 100vh; 
}

.app {
  margin: 0;
  width: 128px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.app:hover {
  cursor: pointer;
}

.app img {
  width: 64px;
  height: 64px;
}

.app h1 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  font-style: Sans-serif;
  text-transform: uppercase;
}

.post-it {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 256px;
  height: 256px;
  background-color: #ffeb3b;
  color: black;
  padding: 15px;
  z-index: 1000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Lobster', cursive;
  border: 1px solid #fdd835;
  background-size: cover;
}

#assignment-container {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 256px;
  height: 256px;
  background-color: #ffeb3b;
  color: black;
  padding: 15px;
  z-index: 1000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Lobster', cursive;
  border: 1px solid #fdd835;
  /* TODO: Add paper texture=> background-image: url(''); */
  background-size: cover;
}

.task-item {
  margin: 10px 0;
  padding: 10px;
  border-left: 4px solid #f57f20;
  background-color: rgba(255, 235, 59, 0.9);
  border-radius: 5px;
}

.task-item h3 {
  margin: 0;
  font-size: 1.2em;
  font-style: italic;
}

.task-item p {
  margin: 5px 0 0;
  font-size: 1em;
  line-height: 1.4;
}

.overlay {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 512px;
  display: none;
  transition: opacity 0.5s ease;
}

.overlay-header {
  background-color: #0078d4;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.overlay-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.overlay-title {
  flex-grow: 1;
  margin: 0;
}

.overlay-content {
  padding: 15px;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  transition: color 0.3s;
}

.close-btn:hover {
  color: red;
}

.scratches {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('https://raw.githubusercontent.com/tavro/LD56/refs/heads/pages/Res/glass.png') no-repeat center center/cover;
  opacity: 0.25;
  z-index: 0;
}

.non-draggable {
  user-drag: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.non-selectable {
  user-select: none;
}

#builder-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/* === LOGIN STYLING === */

#login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

#login-form label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

#login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#login-form button {
  padding: 10px;
  background-color: #7696DD;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#login-form button:hover {
  background-color: #0056b3;
}

#nodeInfoContainer input[type="number"],
#nodeInfoContainer select,
#nodeInfoContainer input[type="color"],
#nodeInfoContainer button {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#nodeInfoContainer button {
    background-color: #0078d4;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#nodeInfoContainer button:hover {
    background-color: #0056b3;
}

.plus-sign-container {
  position: absolute;
  display: none;
  text-align: center;
}

.plus-sign {
  width: 30px;
  height: 30px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  margin: 0 auto;
}

.add-node-label {
  color: black;
  font-size: 14px;
  margin-top: 5px;
}