/* === GLOBAL STYLING === */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/* === OS STYLING === */

#desktop-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://raw.githubusercontent.com/tavro/LD56/refs/heads/pages/Res/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.app {
  width: 128px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.app:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.app img {
  width: 64px;
  height: 64px;
  user-drag: none;
  pointer-events: none;
}

.app h1 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}

.non-draggable {
  user-drag: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.non-selectable {
  user-select: none;
}

/* === MAIL STYLING === */

#mail-wrapper {
  display: none;
  flex-direction: row;
  height: 100vh;
}

#mail-menu {
  background-color: #0078d4;
  width: 20vw;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#mail-menu p {
  margin: 5px 0;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#mail-menu p:hover {
  background-color: black;
}

#mail-inbox {
  width: 80vw;
  background-color: white;
  padding: 20px;
  overflow-y: auto;
}

.category1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  margin: 8px;
}

.category1 img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

#category-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.category2 {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.category2:hover {
  background-color: #f5f5f5;
}

.category2 img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.c2-text-wrapper {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.mail-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s ease;
}

.mail-preview:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mail-preview .mp-icons-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mail-preview .sender {
  font-weight: bold;
  color: black;
  flex: 1;
}

.mail-preview .mp-text-wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.mail-preview .topic {
  font-weight: bold;
  margin: 0;
}

.mail-preview .content {
  font-style: italic;
  color: gray;
  margin: 0;
}

.mail-preview .timestamp {
  color: gray;
  font-size: 12px;
  text-align: right;
  white-space: nowrap;
}

.mail-preview img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

#opened-mail {
  display: none;
  background-color: white;
  height: 100vh;
  padding: 20px;
}

.back-btn-wrapper {
  margin: 8px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

#mail-info-wrapper {
  margin-top: 64px;
}

#mail-header {
  display: flex;
  flex-direction: row;
  align-content: center;
}

#mail-header .back-btn-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 40px;
}

#mail-header .back-btn-wrapper img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

#category-primary {
  border-bottom: 2px solid black;
}

#category-primary:hover, #category-campaigns:hover, #category-social:hover {
  cursor: pointer;
}

.read {
  background-color: #f2f2f2;
}

.summary {
  font-style: italic;
  font-weight: 100;
  color: gray;
}

#om-content {
  margin: 32px;
}

#om-content h1 {
  margin: 1em 0;
  padding: 0;
}

#om-content h2 {
  margin: 0.83em 0;
  padding: 0;
}

#om-content h3 {
  margin: 0.67em 0;
  padding: 0;
}

#om-content p {
  margin: 1em 0;
  padding: 0;
}

/* === LOGIN STYLING === */

#login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;
}

#login-form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form img {
  width: 100px;
  margin-bottom: 20px;
}

#login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

#login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#login-form button {
  width: 110%;
  padding: 10px;
  background-color: #7696dd;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#login-form button:hover {
  background-color: #0056b3;
}

.post-it {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 256px;
  height: 256px;
  background-color: #ffeb3b;
  color: black;
  padding: 15px;
  z-index: 1000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Lobster', cursive;
  border: 1px solid #fdd835;
  background-size: cover;
}

/* === MICROSCOPE STYLING === */

#telescope-wrapper {
  display: none;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

/* === BUILDER STYLING === */

#builder-wrapper {
  display: none;
  flex-direction: column;
  height: 100vh;
  background-color: #fafafa;
}

#builder-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

/* === ASSIGNMENT STYLING === */

#assignment-container {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 256px;
  height: 256px;
  background-color: #ffeb3b;
  color: black;
  padding: 15px;
  z-index: 1000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: 'Lobster', cursive;
  border: 1px solid #fdd835;
  background-size: cover;
}

.task-item {
  margin: 10px 0;
  padding: 10px;
  border-left: 4px solid #f57f20;
  background-color: rgba(255, 235, 59, 0.9);
  border-radius: 5px;
}

.task-item h3 {
  margin: 0;
  font-size: 1.2em;
  font-style: italic;
}

.task-item p {
  margin: 5px 0 0;
  font-size: 1em;
  line-height: 1.4;
}

/* === OVERLAY STYLING === */

.overlay {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  width: 512px;
  display: none;
  transition: opacity 0.5s ease;
}

.overlay-header {
  background-color: #7696dd;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1000;
}

.overlay-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.overlay-title {
  flex-grow: 1;
  margin: 0;
}

.overlay-content {
  padding: 15px;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  transition: color 0.3s;
}

#closeNodeInfoButton {
  color: white;
}

#closeNodeInfoButton:hover {
  color: red;
}

/* === PLUS SIGN BUTTON === */

.plus-sign-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.plus-sign {
  font-size: 30px;
  background-color: #000;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  pointer-events: auto;
}

.plus-sign:hover {
  background-color: #333;
}


/* === BACK BUTTON STYLING === */

.back-btn-wrapper:hover, .back-btn-wrapper-alt {
  cursor: pointer;
}

.back-btn-wrapper img, .back-btn-wrapper-alt img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.back-btn-wrapper-alt {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  z-index: 2;
}

/* === MONEY WRAPPER === */

#money-wrapper {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#money-wrapper img {
  width: 24px;
  height: auto;
  margin-right: 10px;
}

#money-text {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

/* === MODAL STYLES === */
#nodeInfoContainer {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
	width: 400px;
	font-family: Arial, sans-serif;
}

/* === HEADER STYLES === */
.overlay-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #eee;
}

.overlay-icon {
	width: 30px;
	height: 30px;
}

.overlay-title {
	font-size: 20px;
	color: white;
	margin: 0;
}

.close-btn {
	cursor: pointer;
	font-size: 20px;
	color: white;
	transition: color 0.3s;
}

.close-btn:hover {
	color: #ff0000;
}

/* === CONTENT STYLES === */

.overlay-content {
	padding: 15px;
}

.overlay-content p {
  margin-top: 15px;
  margin-bottom: 15px;
}

#nodeInfoContainer input[type="number"],
#nodeInfoContainer select,
#nodeInfoContainer input[type="color"],
#nodeInfoContainer button {
	width: calc(100% - 20px);
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#nodeInfoContainer button {
  background-color: #7696dd;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
	padding: 12px;
	transition: background-color 0.3s, transform 0.1s;
}

#nodeInfoContainer button:hover {
	background-color: #0056b3;
	transform: translateY(-1px);
}

.error-message {
	color: red;
	display: none;
	margin-top: 10px;
}
