body {
  margin: 0;
}

/* === OS STYLING === */

#desktop-wrapper {
  display: flex;
  flex-direction: row;
  background-color: blue;
  height: 100vh;
  width: 100vw;
}

/* === MAIL STYLING === */

.back-btn-wrapper {
  margin: 8px;
  height: 16px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.back-btn-wrapper:hover {
  cursor: pointer;
}

.back-btn-wrapper img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#mail-header {
  display: flex;
  flex-direction: row;
  align-content: center;
}

#opened-mail {
  display: none;
  flex-direction: column;
  background-color: white;
}

#mail-info-wrapper {
  margin: 32px;
}

#category-primary {
  border-bottom: 2px solid black;
}

#mm-inbox:hover, #mm-favorites:hover, #mm-important:hover {
  cursor: pointer;
}

#category-primary:hover, #category-campaigns:hover, #category-social:hover {
  cursor: pointer;
}

#mm-inbox {
  font-weight: bold;
}

#mail-wrapper {
  display: none;
  flex-direction: row;
  background-color: white;
  height: 100vh;
}

#mail-menu {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 20vw;
  height: 100vh;
}

.category1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 16px;
  margin: 8px;
}

.category1 img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#category-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.category2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 320px;
  margin: 8px;
}

.category2 img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.mail-preview:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mail-preview {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  height: 32px;
  align-items: center;
  justify-content: space-between;
}

.mail-preview img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.c2-text-wrapper {
  display: flex;
  flex-direction: column;
}

.c2-text-wrapper p {
  margin: 0;
  padding: 0;
}

.summary, .content {
  font-style: italic;
  color: gray;
}

.sender {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  width: 256px;
}

.mp-text-wrapper {
  display: flex;
  flex-direction: row;
  width: 624px;
}

.timestamp {
  margin-right: 8px;
}

/* === TELESCOPE STYLING === */

#telescope-wrapper {
  display: none;
  background-color: yellow;
  height: 100vh; 
}

canvas {
  display: block;
  background-color: #f0f0f0;
}

#builder-wrapper {
  display: none;
  background-color: red;
  height: 100vh; 
}

.app {
  margin: 8px;
  width: 128px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app img {
  width: 64px;
  height: 64px;
}

.app h1 {
  font-size: 16px;
  font-weight: bold;
  color: white;
  font-style: Sans-serif;
  text-transform: uppercase;
}

#assignment-container {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}